@tailwind base;
@tailwind components;
```css .btn {
	@apply inline-block px-5 py-3 rounded text-sm uppercase tracking-wider font-semibold;
}

.btn:focus {
	@apply outline-none shadow-outline;
}

.btn-indigo {
	@apply bg-indigo-500 text-white;
}

.btn-orange {
	@apply bg-orange-500 text-white;
}

.btn:hover {
	@apply bg-indigo-400;
}

.btn:active {
	@apply bg-indigo-600;
}

.top10 {
	top: 10%;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.h-28 {
	height: 7rem;
}

@tailwind utilities;
