@tailwind base;
@tailwind components;

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* homepage */

.homepage-bg {
	top: 0px;
	left: 0px;
	max-width: 1920px;
	max-height: 1080px;
	background: #eff3f9 0% 0% no-repeat padding-box;
	opacity: 1;
}

.homepage-bg .vidyalaya-bg {
	max-width: 252px;
	max-height: 77px;
	text-align: left;
	font: Bold Italic 65px/84px Gibson BoldItalic;
	letter-spacing: 0px;
	color: #50579b;
	opacity: 1;
}

.homepage-bg .teacher-bg {
	max-width: 410px;
	max-height: 117px;
	background: #ffffff 0% 0% no-repeat padding-box;
	border: 1px solid #707070;
	opacity: 1;
}

.homepage-bg .teacher-bg .teacher {
	max-width: 116px;
	max-height: 43px;
	text-align: left;
	font: Regular 32px/43px Roboto;
	letter-spacing: 0px;
	color: #000000;
	opacity: 1;
}

.homepage-bg .student-bg {
	max-width: 410px;
	max-height: 117px;
	background: #ffffff 0% 0% no-repeat padding-box;
	border: 1px solid #707070;
	opacity: 1;
}

/* teacher-homepage */
.navbar {
	max-width: 1920px;
	max-height: 91px;
	background: #50579b 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #00000029;
	opacity: 1;
}

.navbar .logo {
	max-width: 129px;
	max-height: 38px;
	text-align: left;
	font: Bold Italic 32px/42px Gibson BoldItalic;
	letter-spacing: 0.64px;
	color: #ffffff;
	opacity: 1;
}

.navbar .contact {
	max-width: 90px;
	max-height: 21px;
	text-align: left;
	font: Medium 18px/24px Inter;
	letter-spacing: 0.36px;
	color: #ffffff;
	opacity: 0.74;
}

.navbar .login {
	max-width: 57px;
	max-height: 21px;
	text-align: left;
	font: Medium 18px/24px Inter;
	letter-spacing: 0.36px;
	color: #ffffff;
	opacity: 0.74;
}

.login-container {
	max-width: 150px;
	width: 100%;
}

@media (min-width: 480px) {
	.login-container {
		max-width: 200px;
		width: 100%;
	}
}

@media (min-width: 768px) {
	.login-container {
		max-width: 450px;
		width: 100%;
	}
}

@tailwind utilities;
